elpa/
eshell/
tramp
url/
sql/
var/
auto-save-list/
plugins/.\#*
*.el~
clang-complete
auto-complete-clang-async.el
ac-comphist.dat
.session
backups/
.\#.*
[#]*[#]
autosaves/
/.emacs-frequencies
/.recentf
.yas-compiled-snippets.el
/nrepl-history
.cask/
project-explorer-cache/
request/
/projectile-bookmarks.eld
.python-environments/
emacs.el
.org-id-locations
ido.last
smex-items
irony/
*.elc
.#init.el
async-bytecomp.log
server/